.paragraph {
    background-color: rgba(45, 50, 52, 0.95);
    margin: auto 8px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.paragraph__link {
    text-decoration: none;
    color: rgb(255, 104, 104);
}