
.form__button {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 205, 195);
    transition: background 1s, 1s;
}

.form__button:hover {
    background-color: rgb(214, 171, 148);
    transform: scale(1.02);

}

.form__button:active {
    background-color: rgb(214, 145, 108);
}

.form__link {
    text-decoration: none;
    color: brown;
}