html {
  box-sizing: border-box;
}

*, ::after ::before {
  box-sizing: inherit;
}

body {
  background: url(/public/images/money.jpg) center / cover fixed no-repeat;
  color: rgb(223, 205, 195);
  max-width: 800px;
  margin: 8px auto;
  font-family: 'Roboto Mono', sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  body {
    overflow: auto;
  }
}